@import "./variables.scss";

.container-home {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content-create-collection {
    display: flex;
    height: calc(100% - 60px);

    background: url("../images/home-background.svg") no-repeat 100% 20px;

    div {
      display: flex;
      flex-direction: column;
      margin: auto 5%;

      .title {
        font-size: 3rem;
        font-weight: 600;
      }

      .descrition {
        margin-top: 3%;
        font-size: 1.5rem;
        color: $text-color;
      }

      a {
        width: 100%;
        max-width: 360px;
        height: 72px;
        background: $primary-color;
        border-radius: 8px;

        display: flex;
        align-items: center;
        overflow: hidden;

        transition: .25s;

        margin-top: 10%;

        span {
          display: block;
          background: rgba(0, 0, 0, 0.08);
          width: 20%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.25s;
        }

        strong {
          flex: 1;
          text-align: center;
          color: #FFF;
        }

        &:hover {
          background: #2FB86E;
        }
      }
    }
  }
}
